#task-name {
  font-size: 1.8rem;
}

#table-tasks {
  th {
    vertical-align: middle;  
  }
  td {
    vertical-align: middle;  
  }
}


/* タスク一覧ページ */

#table-tasks
  td {
    vertical-align: middle;
}